/*  Reset */
*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-size: 2rem;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #555;
  background-color: #111;
  background-image: url("./Image/what-the-hex-dark.png");
  background-color: rgba(2, 2, 12, 0.856);

}

.row {
  max-width: 114rem;
  margin: 0 auto
}

h1 {
 font-size: 240%;
 font-weight: 30rem;
 color: #fff;
 text-transform: uppercase;
 word-spacing: .4rem;
 letter-spacing: .1rem
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("./Image/hero3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Logo */

.logo {
   height: 12rem;
   width: auto;
   float: left;
   margin-top: 2rem;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 6rem;

}

.main-nav ul{
  margin-left: 10rem
}

.main-nav li {
   display: inline-block;
   margin-left: 3rem
}

.main-nav li a {
  text-decoration: none;
   color: #fff;
   font-size: 1.6rem;
   text-transform: uppercase;
}

/* Welcome Text */
.welcome1 {
  margin-top: 20rem;
  text-align: center;
}

.welcome {
  margin-top: 15rem;
  text-align: center;
}

/* button */
.but {
  background-color: transparent;
  padding: 0.6rem;
  border: 0.2rem solid #ef831dde;
}

/* Hover the navbar*/
ul li a:hover, ul li a:focus {
  color:#ef831dde;
 }
/* Hover the button*/
 ul li button.but:hover, ul li button.but:focus {
  border: 0.2rem solid #f5f2eede;
 }


 /* center the buttons */
 .center-btn {
  margin-top: 8%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }

 /* the center button*/
.btn {
  color: rgba(175, 138, 35, 0.986);
  font-size: 120%;
  background-color: transparent;
  padding: 0.9rem;
  border: 0.2rem solid #b3a69ade;
  border-radius: 0.5rem;
}

 /* Hover the center button */
 a button.btn:hover {
   border: 0.2rem solid #f5f2eede;
   color: rgb(224, 138, 7);
   cursor: pointer;
 }
/* image property */
 .img-caption {
   float: right;

 }

 /* image styles */
 .img-responsive {
  border:0.2rem solid #555;
  max-width: 70%;
  padding-top: 0rem;
  float: right;
  border-radius: 0.1rem;
 }

 /* when scrolling navbar*/
 .scroll-nav {
   position: fixed;
   
 }
/* navbar background when scrolling*/
.backgrd-clr {
  background: rgba(0,0,0,0.9);
  position: fixed;
  width: 100%;
  padding-bottom: 8rem;
  margin-left: -11rem;
}

 /* about caption */

 .about-cap {
   padding-top: 2rem;
   color: aliceblue;
   font: 120%;
   font-style: inherit;
   font-weight: inherit;
 }

 .about-header, h4 {
   text-align: center;
 }

 .content {
   padding: 5rem;
   height: 20rem;
   font-size: 4rem;
   color: rgba(253, 255, 253, 0.959);
   margin: 0rem;
   width: 100%;
   background-color: rgba(2, 2, 12, 0.856);

 }