/*  Reset */
*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #555;
  position: relative;
}

.row {
  max-width: 114rem;
  margin: 0 auto
}

h1 {
 font-size: 240%;
 font-weight: 30rem;
 color: #fff;
 text-transform: uppercase;
 word-spacing: .4rem;
 letter-spacing: .1rem
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

header {
 position: absolute;
 left: 0;
 right: 0;
 z-index: 999
}
/* Logo */

.logo {
   height: 12rem;
   width: auto;
   float: left;
   margin-top: 1rem
}

/* logo 2*/

.logo1 {
  height: 8rem;
  width: auto;
  float: left;
  padding-left: 5rem;
  margin-top: 1rem
}

/*----------------------------------*/
/* Navigation bar Section */
/*----------------------------------*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 5rem
}

.main-nav ul{
  margin-left: 10rem
}

.main-nav li {
   display: inline-block;
   margin-left: 3rem
}

.main-nav li a,
.btn-menus li a,
.btn-order li a {
  text-decoration: none;
  color: #fff;
   font-size: 1.6rem;
   text-transform: uppercase;
   font-weight: 600;
   transition: color 0.4s
}

ul li a:hover, ul li a:focus {
  color: #e67e22;
}

ul li:last-child a {
  border: .2rem solid #e67e22;
  padding: .8rem 1.7rem
}


ul li:last-child a:hover {
  border: .2rem solid #fff;
  color:  #e67e22
}

/* ---------------------------------------------- */
/* HOME */
/* ---------------------------------------------- */

.home-hero{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   z-index: 0;
   overflow: hidden;
   background-attachment: fixed;
}

/* ---------------------------------------------- */
/* Fading animation */
/* ---------------------------------------------- */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Hero Text */
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -95rem;
  z-index: 0.5;
}

/*----------------------------------*/
/* buttons section css */
/*----------------------------------*/

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem  3rem;
  font-weight: 300;
  border-radius: 20rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s
}

.btn-full:link,
.btn-full:visited{
   background-color: #e67e22; 
   border: 1px solid  #e67e22;
   color: #fff;
   margin-right: 1.5rem
}

.btn-ghost:link,
.btn-ghost:visited {
   border: 1px solid #e67e22;
   color:  #e67e22
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  background-color: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: 1px solid  #cf6d17;
  color: #fff
}



.arrows button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
  transition: 0.6s ease;
}

.arrow {
  position: absolute;
  font-weight: 300;
  top: 40%;
  transform: translateY(50%);
  cursor: pointer;
}

.left {
  left: 0;
  margin-left: 2rem;
  margin-top: -78rem;
}

.right {
   right: 0;
   margin-right: 2rem;
   margin-top: -78rem;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}


.btn-order {
  padding-top: 2rem;
}

.btn-menus {
  padding: 4rem;
}
/* when scrolling navbar*/
.scroll-nav {
  position: fixed;
  
}
/* navbar background when scrolling*/
.backgrd-clr {
 background: rgba(0,0,0,0.9);
 position: fixed;
 width: 100%;
 padding-bottom: 6rem;
 margin-left: -10.5rem;
 padding-left: 5rem;
 z-index: 1;
}


/* image styles */
.img-responsive {
 border:0.2rem solid #555;
 max-width: 50%;
 padding-top: 0rem;
 float: right;
 border-radius: 0.1rem;
}

/*----------------------------------*/
/* Reservation Section */
/*----------------------------------*/

.order {
  color: #fff;
  width: 100%;
  height: auto;
  padding: 10rem;
  text-align: center;
  letter-spacing: 0.4rem;
  text-justify: distribute-all-lines;
  background: rgba(0,0,0,0.9);
  background-image: url("/Resources/CSS/Image/pattern2.png");
  background-repeat: repeat;
  background-size: 30rem;
}

.order-items {
  padding: 0.8rem;
}

/*----------------------------------*/
/* Menu section */
/*----------------------------------*/

.Menu-section {
  /* background-image: url("/Resources/CSS/Image/Nigerian-Restaurants.png");
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat; */

  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/Resources/CSS/Image/jellof.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   z-index: 0;
   overflow: hidden;
   background-attachment: fixed;
   position: sticky;
}

/* Menu items*/

.Menu-item1 {
  text-align: center;
  text-justify: distribute-all-lines;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 800;
  text-align-last: center;
  color: #fff;
  padding: 0.8rem;
  -ms-text-size-adjust: 10fr;
  -ms-text-justify: distribute;
  -ms-text-align-last: center;
}

.Menu-item2 {
  text-align: center;
  text-justify: distribute-all-lines;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 0.8rem;
  color: #e67e22; 
}

/* Menu Text container */
.Menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* margin-top: -60rem; */
  z-index: 0.5;
}

/*----------------------------------*/
/* The About section */
/*----------------------------------*/

 .about_section {
  position: initial;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 10rem;
  text-align: center;
  background: rgba(0,0,0,0.9);
  background-image: url("/Resources/CSS/Image/pattern2.png");
  background-repeat: repeat;
  background-size: 30rem;
} 

.about-item2 p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-weight: 200;
}

/*----------------------------------*/
/* The Gallery section */
/*----------------------------------*/

.gallery-items {
  background-image: url("/Resources/CSS/Image/pattern2.png");
  background-repeat: repeat;
  background-size: 30rem;
}

.gallery-item1,
.gallery-item2 {
  float: left;
  width: 50%;
  border: 0rem solid #cf6d17;
  padding: 6rem;
}

.gallery-title {
    text-align: center;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    letter-spacing: 0.4rem;
    color: #cf6d17;
    font-weight: 600;
    font-size: 120%;
}

.img-responsiv {
  max-width: 100%;
  width: 550px;
  height: 385px;
  border: 0.2rem solid #555;
}

.img-caption1 {
  font-weight: 600;
  color: #e7dccb;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 0.4rem;
}

.img-caption2 {
  text-align: center;
  letter-spacing: 0.2rem;
  color: #fff;
  font-weight: 300;
}